{% include 'header.html.twig' %}


<div class="row justify-content-center" id="middle">
    <div>
        <a class="btn btn-primary" href="{{ path('app_login') }}" role="button" >Login</a>
        OR
        <a class="btn btn-secondary"  href="{{ path('app_register') }}" role="button" >Registration</a>
    </div>
</div>


{% include 'footer.html.twig' %}